.header {
  background-color: #f4f4f4;
  padding: 1rem;
}

.header-background {
  max-width: 1200px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  border-radius: 50%;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.menu {
  display: flex;
  gap: 1rem;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.menu a:hover {
  color: #007BFF;
  text-decoration: underline;
}
